.three-panel-holder {
    display: grid;
    grid-template-columns: 500px 550px 1fr;
    column-gap: 35px;
    margin: 1%;
}

.image-display {
    width: 100%;
    background-color: aqua;
}

.description-display {
    width: 100%;
}

.description-display .seller-info {
    display: flex;
    align-items: center;
    margin: 3% 0;
}

.description-display .seller-info .pfp {
    background-color: #ff5900;
    border-radius: 100%;
    overflow: hidden;
}

.description-display .seller-info .pfp img {
    width: 50px;
    height: 50px;
}

.description-display .seller-info .seller-names {
    margin: 0 5% 0 5%;
}

.description-display .seller-info .seller-names a {
    text-decoration: none;
    color: black;
}

.description-display .seller-info .seller-names h5 {
    color: #838383;
    font-weight: normal;
    font-size: 13px;
}

.description-display .description-title {
    font-weight: bold;
    margin: 6% 0 2.5% 0;
    text-align: justify;
}

.description-display .description-detailed {
    font-size: 13px;
    text-align: justify;
}

.description-display .pricing-details {
    display: flex;
    align-items: baseline;
    margin: 8% 0 4% 0;
    font-weight: bold;
    color: #ff5900;
}

.description-display .pricing-details .rs {
    font-size: 22px;
}

.description-display .pricing-details .price {
    font-size: 35px;
}

.description-display .pricing-details .store-price {
    text-decoration: line-through;
    margin: 0 37% 0 2%;
    color: #838383;
}

.description-display .pricing-details .discount {
    font-weight: 300;
    font-size: 30px;
}

.fuctions-display {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.126);
    border-radius: 15px;
}

.fuctions-display .progress {
    text-align: center;
    justify-content: center;
    margin: 5% 0;
}

.fuctions-display .progress .reach {
    font-size: 25px;
    font-weight: bold;
    color: #ff5900;
    margin: 0 0 3% 0;
}

.fuctions-display .progress .progress-bar {
    width: 90%;
    margin-left: auto;
    margin-right: 6%;
    margin-bottom: 5%;
}


.fuctions-display .progress .available {
    font-size: 15px;
    color: #3b3b3b;
}

.fuctions-display .progress .available span {
    font-weight: bold;
}

.fuctions-display .quantity {
    width: 100%;
    text-align: center;
    margin: 10% 0 0 0;
}

.fuctions-display .quantity .title {
    font-size: 18px;
}

.fuctions-display .quantity .buttons-and-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fuctions-display .quantity .buttons-and-text * {
    margin: 2%;
}

.fuctions-display .quantity .buttons-and-text 
.minus, 
.plus {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-image: linear-gradient(to left top, #f3f3f3, #efefef, #ececec, #e8e8e8, #e5e5e5);
}

.fuctions-display .quantity .buttons-and-text 
.minus:active, 
.plus:active {
    background-image: linear-gradient(to right bottom, #f3f3f3, #efefef, #ececec, #e8e8e8, #e5e5e5);
}

.fuctions-display .quantity .buttons-and-text .minus:hover, 
.plus:hover {
    cursor: pointer;
}

.fuctions-display .quantity .buttons-and-text .count {
    padding: 1%;
    text-align: center;
    width: 30px;
    height: 30px;
    border: none;
}

.fuctions-display .quantity .buttons-and-text .count:focus {
    border: none;
}

.fuctions-display .quantity .buttons-and-text 
.count::-webkit-inner-spin-button,
.count::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.fuctions-display .total-display {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0 0 10% 0;
}

.fuctions-display .total-display .total {
    font-weight: bold;
    font-size: 20px;
}

.fuctions-display .total-display .cal-total {
    font-weight: bold;
    font-size: 30px;
    /* color: #ff5900; */
}

.fuctions-display .join-share {
    display: flex;
    flex-direction: column;
}

.fuctions-display .join-share 
.join,
.share {
    font-weight: bold;
    width: 80%;
    margin: 2% auto;
    text-align: center;
    border-radius: 25px;
    padding: 3% 0;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
}

.fuctions-display .join-share .join {
    background-color: #ff5900;
    color: white;
}

.fuctions-display .join-share .share {
    background-color: #ffe3d4;
    color: #ff5900;
    display: flex;
    justify-content: center;
}

.fuctions-display .join-share .share .share-icon {
    margin: 0 5% 0 0;
    font-size: 18px;
}

.fuctions-display .join-share .join:hover {
    background-color: #c14300;
}

.fuctions-display .join-share .share:hover {
    background-color: #e7cfc2;
}