.box {
  display: flex;
  background-color: #bb7373;
  height: 55px;
  padding: 5px 10px 5px 10px;

  height: 60px;
}

.header {
  font-size: 40px;
  font-weight: bold;
  padding-left: 700px;
  color: white;
}

.bellIcon {
  font-size: 220%;
}
.avatar {
  display: inline-block;
  font-size: 220%;
}
.chevronDownIcon {
  display: inline-block;
  font-size: 180%;
}
.profil {
  padding-left: 10px;
}

.rightPart {
  padding-left: 900px;
}

.box2 {
  display: flex;
  padding-bottom: 2px;
}

.q:hover {
  color: #000000;
}
