
.footer {
  width: 100%;
  min-height: 100px;
  padding: 2% 0;
  background-color: rgb(76, 73, 73);
  text-align: center;
}

.footer p {
  color: whitesmoke;
  margin: 20px auto;
}

.footer-col {
  color: #f5f3f3;
  font-size: 20px;
}

.footer-col .dev-team {
  display: flex;
  justify-content: space-around;
}

.footer-col .dev-member {
  color: #f5f3f3;
  font-size: 15px;
  margin-top: 40px;
}

.footer-col .social-links {
  margin: 10px;
}

.footer-col .social-links a {
  margin: 0 5px;
  font-size: 25px;
  color: #d4d1d1;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  transform: rotate(360);
}

.logof {
  font-weight: 600;
  color: rgb(241, 237, 237);
  font-size: 26px;
}