
.progressbar {
    border: 3px solid #ccc;
    width: 500px;
    height: 20px;
    border-radius: 5px;
}

.profrasbarfil {
    background-color: #4caf50;
    height: 100%;
    width: 0;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
}
