.pop-panel {
  width: 100%;
  background-image: radial-gradient(
    circle,
    #ffffa2,
    #ffffb3,
    #ffffc5,
    #ffffd5,
    #ffffe6
  );
}

.pop-panel .pop-product-title {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 2.5% 0 0 0;
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
}

.pop-panel .carousel {
  padding: 1% 0 2% 0;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
}

.pop-product {
  display: flex;
  background-color: white;
  padding: 8px 0;
  width: 204px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 6%;
  transition: 0.5s;
}

.pop-product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.127);
}

.pop-product .link-area {
  margin: auto;
  text-decoration: none;
  color: black;
}

.pop-product img {
  height: 187px;
  width: 187px;
  border-radius: 13px;
}

.pop-product .details .title-card {
  max-width: 187px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 2% 0;
  color: black;
}

.pop-product .details .progress {
  margin: 8px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-product .details .progress .reach {
  color: #ff5900;
  font-weight: bold;
  font-size: 17px;
}

.pop-product .details .progress .progress-bar {
  width: 91%;
  margin: 5px auto 5px 5px;
}

.pop-product .details .progress .more {
  color: #999999;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 14px;
}

.pop-product .details .price-tag {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: bold;
}

.pop-product .details .market-price {
  color: #6d6d6d;
  text-decoration: line-through;
  font-size: 11px;
}

.pop-product .details .discount {
  font-weight: bold;
  font-size: 11px;
  color: #ff5900;
}

@media only screen and (max-width: 600px) {
  .pop-panel .pop-product-title {
    font-size: 16px;
  }

  .pop-product {
    padding: 8px;
    margin: 0 2px;
  }

  .pop-product img {
    height: 140px;
    border-radius: 10px;
  }

  .pop-product .details .title-card {
    font-size: 14px;
    margin: 8px 0;
  }

  .pop-product .details .progress .reach {
    font-size: 12px;
  }

  .pop-product .details .progress .more {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .pop-product .details .price-tag {
    font-size: 16px;
  }

  .pop-product .details .market-price {
    font-size: 10px;
  }
}
