.sideBarBox1 {
  border-top: 5px;
  border-color: aliceblue;
  background-color: #000000;
  padding: 5px 10px 5px 10px;
  height: 60px;
  display: flex;
}

.sideBarheader {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.bellIcon {
  font-size: 220%;
}
.avatar {
  display: inline-block;
  font-size: 220%;
}
.chevronDownIcon {
  display: inline-block;
  font-size: 180%;
}
.profil {
  padding-left: 10px;
}

.sideBarightPart {
  padding-left: 900px;
}

.sideBarbox2 {
  display: flex;
  padding-bottom: 2px;
}

.button1:hover {
  color: rgb(255, 255, 255);
}
