.all {
  border-radius: 30px;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.singleChatBox1 {
  border-width: 20px;
  border-radius: 30px;
}
.singleChatpart {
  height: 60px;
  padding-left: 20px;
  font-size: 30px;
  width: 590px;
}

.groupChathedPart {
  padding-left: 20px;
  font-size: 30px;
  display: flex;
  height: 60px;
  width: 590px;
}

.updateGroup {
  padding-top: 5px;
  padding-left: 1000px;
}

.messageInputBar {
  width: 100%;
  display: flexbox;
}
