.all {
  border-radius: 30px;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.box1 {
  border-width: 10px;
  border-radius: 30px;
}

.hedPart {
  display: flex;
  height: 100px;
}

.abcd {
  position: fixed;
  right: 40px;
}

.inputBar11 {
  width: 100%;
  display: flex;
}
