.all {
  border-radius: 30px;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 570px;
}

.singleChatBox1 {
  border-width: 20px;
  border-radius: 30px;
}
.singleChatpart {
  height: 60px;
  padding-left: 20px;
  font-size: 30px;
  width: 590px;
}

.groupChathedPart {
  padding-left: 20px;
  font-size: 30px;
  display: flex;
  height: 60px;
  width: 590px;
}

.updateGroup {
  display: flex;
  position: absolute;
  padding-top: 5px;
  padding-left: 1170px;
}

.messageInputBar {
  width: 100%;
}

.chatType {
  display: flex;
  position: relative;
  left: 1100px;
  top: -40px;
  font-weight: bold;
}
