.recomSection {
  margin: 4% 0 3% 0;
}

.recomSection .forYou {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 0 1.5% 0;
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
}

.recomSection .recom-product-holder {
  display: grid;
  grid-template-columns: repeat(5, 250px);
}

.recomProduct-card {
  display: flex;
  padding: 15px 0;
  width: 250px;
  border-radius: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  position: static;
}

.recomProduct-card:hover {
  box-shadow: 0 0 10px 2px #0000001e;
  z-index: 999;
}

.recomProduct-card img {
  width: 220px;
  height: 220px;
  border-radius: 15px;
}

.recomProduct-card a {
  margin: auto;
  text-decoration: none;
  color: black;
}

.recomProduct-card .details .title-card {
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 2% 0;
  color: black;
}

.recomProduct-card .details .progress .reach {
  color: #ff5900;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin: 15px 0 5px 0;
}

.recomProduct-card .details .progress .progress-bar {
  width: 98%;
}

.recomProduct-card .details .progress .more {
  width: 100%;
  text-align: center;
  color: #838383;
  font-weight: bold;
  font-size: 15px;
  margin: 7px 0 12px 0;
}

.recomProduct-card .details .price-tag {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-weight: bold;
}

.recomProduct-card .details .market-price {
  color: #6d6d6d;
  text-decoration: line-through;
  font-size: 13px;
}

.recomProduct-card .buttons {
  display: flex;
  margin: 20px 0 10px 0;
  justify-content: space-between;
}

.recomProduct-card .buttons .button-join {
  width: 100%;
  padding: 4% 0;
  text-align: center;
  background-color: #ff5900;
  background-color: white;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 20px;
}

.recomProduct-card .buttons .button-join:hover {
  transition: 0.5s;
  transform: scale(0.95);
}

.recomProduct-card:hover .buttons .button-join {
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .recomSection .forYou {
    font-size: 16px;
    padding: 5% 0 1.5% 0;
  }

  .recomSection .recom-product-holder {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 70px;
  }

  .recomProduct-card {
    width: 80%;
    margin-bottom: 20px;
  }

  .recomProduct-card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }

  .recomProduct-card .details .title-card {
    font-size: 14px;
    margin: 10px 0;
  }

  .recomProduct-card .details .progress .reach {
    font-size: 16px;
    margin: 10px 0;
  }

  .recomProduct-card .details .progress .more {
    font-size: 12px;
    margin: 5px 0 10px;
  }

  .recomProduct-card .details .price-tag {
    font-size: 20px;
  }

  .recomProduct-card .details .market-price {
    font-size: 12px;
  }

  .recomProduct-card .buttons {
    flex-direction: column;
    margin: 10px 0;
  }

  .recomProduct-card .buttons .button-join {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
  }
}
