/* AboutUs.css */

.about-us-page {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: beige;
}

.pgname{
    position: absolute; 
    margin-top: 10px;;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: inter;
    font-size: 80px;
    font-weight: 30;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.box {
	display: flex;
    margin-left: 21%;
}

.box .inner {
	width: 400px;
	height: 100px;
	line-height: 100px;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: rgb(241, 139, 22);
	color: darkred;
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: rgb(184, 184, 183);
	color: antiquewhite;
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}

.team-members {
    margin-top: 50px;
}

.team-member-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px; 
}

.team-member-card {
    position: relative;
    width: 250px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
}

.team-member-card img {
    width: 100%;
    height: auto;
    display: block;
}
.img1 {
    width: 50px;
    height: 50px;
}

.team-member-card .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.team-member-card:hover .details {
    opacity: 1;
}

.about-us-page h1, h2, h3 {
    color: #333;
}

.about-us-page p {
    color: #555;
}

.liesin{
    border: 1px solid #000;
}

.liesin:hover{
    background-color: rgb(255, 149, 28);
}

.white-3d-background {
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
    margin: 20px; 
}

