
header {
    background-color: #FA7831;
    padding: 20px;
    color: #0a0909;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 140vh;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  /* User details section styles */
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:  #f5a173;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }
  .user-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .income-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f5a173;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
  }

  .add-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f5a173;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    width: 160px;
    text-align: center;
  }
  
  .app-wrapper{
    display: inline-flex;
  }
 
 
  
 
  main {
    display: flex;
    align-items: flex-start; 
    padding: 20px;
    box-sizing: border-box;
  }
  /* Chat bubble styles */
.chat-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Hover effect for chat bubble */
.chat-bubble:hover {
  background-color: #2980b9;
}
  
 
 
 