.body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20000;
}

.signUpContainer {
  position: fixed;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  overflow: hidden;
  width: 900px;
  max-width: 100%;

  display: flex;
  justify-content: space-between;
}

.signUpForm {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 50px;
  height: 170%;
  width: 570px;
  text-align: center;
}

.title {
  font-weight: bold;
  margin: 0;
}

.paragraph {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.label {
  display: flex;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 8px;
  width: 95%;
}

.button {
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #fa7831;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  &:active {
    transform: scale(0.95);
  }
  &:focus {
    outline: none;
  }
}

.secoundButton {
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #fa7831;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  &:active {
    transform: scale(0.95);
  }
  &:focus {
    outline: none;
  }
}

.radioButton {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}

.radioButtonPart {
  display: inline-block;
}

.rightPanel {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  background: #000000;
  padding: 20px 20px;
  background: -webkit-linear-gradient(to left, #ffffff, #fa7831);
  background: linear-gradient(to left, #f58a50, #fa7831);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  color: #ffffff;
  position: relative;
  height: 550px;
  width: 500px;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.error {
  color: red;
}

.reEntedPassworPosition {
  position: relative;
  top: -25px;
}

.seeReEnted {
  position: relative;
  top: -38px;
  left: 170px;
}
.reEntedPasswordError {
  color: red;
  font-size: 12px;
  position: relative;
  top: -25px;
  left: 15px;
}

.formeAline {
  width: 110%;
  position: relative;
}

.closeButton {
  background-color: rgba(0, 0, 0, 0.196);
  padding: 3% 3.7%;
  border-style: none;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
